* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    main {
        .game-screen {
            row-gap: 40px;
            column-gap: 20px;
            &__operation {
                grid-column: 1 / 2;
                justify-self: end;
            }
            &__input {
                grid-column: 2 / 3;
                justify-self: start;
            }
        }
    }
}