main {
    background-color: #a19393;
    .level-screen {
        display: grid;
        width: 95%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        min-height: 100vh;
        justify-content: center;
        align-content: center;
        grid-gap: 20px;
    }
    .game-screen {
        display: none;
        width: 95%;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        min-height: 100vh;
        justify-content: center;
        align-content: center;
        grid-gap: 20px
    }
}
