.level-screen {
    align-items: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    &__heading {
        font-family: 'Calligraffitti', cursive;
        font-size: 65px;
        font-weight: 1000;
    }
    &__options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8 ,auto);
        justify-content: center;
        align-content: center;
        &__timestext {
            grid-column: 2/ 3;
            grid-row: 1 / 2;
        }
        &__einstein {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &__me {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
    }
    &__naruto {
       font-size: 250px;
       color: red;
    }
}

.game-screen {
    font-family: 'Open Sans', sans-serif;
    &__time {
        grid-column: 1 / 3;
        font-size: 30px;
        justify-self: center;
    }
    &__operation {
        font-size: 55px;
        width: 210px;
    }
    &__input {
        width: 70px;
    }
    &__lives {
        grid-column: 2 / 3;
        justify-self: end;
        &__lives {
            font-size: 20px;
        }
    }
    &__scoretitle {
        grid-column: 1 / 3;
        font-size: 55px;
        justify-self: center;
    }
    &__score {
        grid-column: 1 / 3;
        font-size: 55px;
        justify-self: center;
    }
    &__progress {
        border: 1px solid #c7c7c7;
        border-right: none;
        position: relative;
        grid-column: 1 / 3;;
        &__boxes {
            display: flex;
            width: 100%;
            &__box {
                height: 40px;
                border-right: 1px solid;
                flex: 1;
                background-color: red;
            }
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2)
}
.isvisible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.blur {
    filter: blur(4px);
}