.level-screen {
  align-items: center;
  justify-items: center;
  font-family: "Open Sans", sans-serif;
  color: black;
}
.level-screen__heading {
  font-family: "Calligraffitti", cursive;
  font-size: 65px;
  font-weight: 1000;
}
.level-screen__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, auto);
  justify-content: center;
  align-content: center;
}
.level-screen__options__timestext {
  grid-column: 2/3;
  grid-row: 1/2;
}
.level-screen__options__einstein {
  grid-column: 1/2;
  grid-row: 3/4;
}
.level-screen__options__me {
  grid-column: 1/2;
  grid-row: 4/5;
}
.level-screen__naruto {
  font-size: 250px;
  color: red;
}

.game-screen {
  font-family: "Open Sans", sans-serif;
}
.game-screen__time {
  grid-column: 1/3;
  font-size: 30px;
  justify-self: center;
}
.game-screen__operation {
  font-size: 55px;
  width: 210px;
}
.game-screen__input {
  width: 70px;
}
.game-screen__lives {
  grid-column: 2/3;
  justify-self: end;
}
.game-screen__lives__lives {
  font-size: 20px;
}
.game-screen__scoretitle {
  grid-column: 1/3;
  font-size: 55px;
  justify-self: center;
}
.game-screen__score {
  grid-column: 1/3;
  font-size: 55px;
  justify-self: center;
}
.game-screen__progress {
  border: 1px solid #c7c7c7;
  border-right: none;
  position: relative;
  grid-column: 1/3;
}
.game-screen__progress__boxes {
  display: flex;
  width: 100%;
}
.game-screen__progress__boxes__box {
  height: 40px;
  border-right: 1px solid;
  flex: 1;
  background-color: red;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.33s ease-out;
  transform: scale(1.2);
}

.isvisible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.blur {
  filter: blur(4px);
}

main .level-screen {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
}
main .game-screen {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}